# suggested build result and log filenames
raspi*.bmap
raspi*.img
raspi*.img.xz
raspi*.log
raspi*.tar.gz
raspi*.sha256
raspi_base_bullseye.yaml
raspi_1_bullseye.yaml
raspi_2_bullseye.yaml
raspi_3_bullseye.yaml
raspi_4_bullseye.yaml
raspi_base_bookworm.yaml
raspi_1_bookworm.yaml
raspi_2_bookworm.yaml
raspi_3_bookworm.yaml
raspi_4_bookworm.yaml
raspi_base_trixie.yaml
raspi_1_trixie.yaml
raspi_2_trixie.yaml
raspi_3_trixie.yaml
raspi_4_trixie.yaml
